<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-dns-prefetch-control" content="off" />
<base href="/" />

<title><%= appName %></title>
<meta name="description" content="<%= description %>">

<meta property="og:title" content="<%= appName %>">
<meta property="og:description" content="<%= description %>">
<meta property="og:url" content="<%= url %>">
<meta property="og:type" content="website">
<meta property="og:image" content="<%= ogImage %>">
<meta property="og:image:alt" content="The shiny <%= appName %> logo">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:locale" content="en_US">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@ProtonMail">
<meta name="twitter:title" content="<%= appName %>">
<meta name="twitter:description" content="<%= description %>">
<meta name="twitter:image" content="<%= ogImage %>">
<meta name="twitter:image:alt" content="The shiny <%= appName %> logo">

<meta name="google" content="notranslate">

<!-- TODO: Android https://developer.chrome.com/blog/app-install-banners-native/ -->
<meta name="apple-itunes-app" content="app-id=1509667851" />

<link rel="icon" href="/assets/favicon.ico" sizes="any">
<!-- Working around https://bugzilla.mozilla.org/show_bug.cgi?id=1801614
   * otherwise Firefox picks the 1024x1024 declination of the apple-touch-icon -->
<link rel="icon" href="/assets/favicon.ico" sizes="1025x1025">
<link rel="icon" href="<%= require('./favicon.svg') %>" type="image/svg+xml">

<script id="configData" type="application/json">
   <%- defineWebpackConfig %>
</script>
